#Salvar{
    position: absolute;
    left: 90%;
    top: 85%;
    transform: translate(-50%, -50%);
}

body{
    overflow: scrow;
    padding-top: 60px;
}

div{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
    
}

h1{    
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

.texto_atalho{
    width: 98%;
}

.texto_atalho2{
    width: 100px;
}



#pausas{
    border: 2px solid;
    border-color: #65707a;
    width: 420px;
    margin: auto 0% auto 0%;
    padding: 10px;
}

#titulo{
    border: 1px solid;
    border-color: #65707a;
    width: 100%;
    margin: 20% 0% 0% 10%;
    padding: 10px;
    right: 50%;
}

#titulo2,#titulo3{
    border: 1px solid;
    border-color: #65707a;
    width: 100%;
    margin: 20% 00% 00% 35%;
    padding: 10px;
    right: 50%;
}

#atalhos,#codADM{
    display: block;
    border: 2px solid;
    border-color: #65707a;
    max-width: 620px;
    margin: auto;
    padding: 10px;
}

#chave_p{
    border: 2px solid;
    border-color: #65707a;
    width: 420px;
    margin: auto 0% auto 0%;
    padding: 10px;
}

#Cadastrar{
    margin-top: 30px;
}