#Salvar{
    position: relative;
    left: 80% !important;
    bottom: 200px;
    margin: 0 !important;
    display: inline;
}

#sair{
    position: relative;
    left: 100%;
}


html, body{
    width: 700px;
    margin: auto;
    display: block;
}



div{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
    
}

h1{    
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

.texto_atalho{
    width: 98%;
}

.texto_atalho2{
    width: 100px;
}



#pausas{
    border: 2px solid;
    border-color: #65707a;
    width: 420px;
    margin: auto 0% auto 0%;
    padding: 10px;
}

#titulo{
    border: 1px solid;
    border-color: #65707a;
    width: 100%;
    margin: 20% 0% 0% 10%;
    padding: 10px;
    right: 50%;
}

#titulo2{
    border: 1px solid;
    border-color: #65707a;
    width: 100%;
    margin: 20% 00% 00% 35%;
    padding: 10px;
    right: 50%;
}

#atalhos{
    border: 2px solid;
    border-color: #65707a;
    width: 620px;
    margin: auto 0% auto 0%;
    padding: 10px;
}

#chave_p{
    border: 2px solid;
    border-color: #65707a;
    width: 420px;
    margin: auto 0% auto 0%;
    padding: 10px;
}


.borda{
    border: 2px solid;
    border-color: #65707a;
    width: 420px;
    margin: auto 0% auto 0%;
    padding: 10px;
}
